%header.intro-header
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .site-heading
          %h1 Incomplete post
          %hr.small
            %span.subheading My blog.
= render 'layouts/flash'
= form_for @post, method: :put do |form|
  = form.label :title
  = form.text_field :title
  %br
  = form.label :subtitle
  = form.text_field :subtitle
  %br
  = form.label :visible
  = form.check_box :visible, value: true
  %br
  = form.label :content
  %br
  = form.text_area :content, rows: '25', cols: '50'
  %br
  = form.submit 'Submit', class: 'btn btn-primary'
= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure you'd like to delete this post?" }