%header.intro-header{:style => "background-image: url('/assets/post-bg.jpg')"}
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .post-heading
          %h1 #{@post.title}
          %h2.subheading #{@post.subtitle}
          %span.meta
            Posted by
            %a{:href => "#"} #{@post.author}
            on #{@post.created_date_readable}
/ Post Content
%article
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        #{@post.content}