%header.intro-header
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .post-heading
          %h1 #{@post.title}
          %h2.subheading #{@post.subtitle}
          %span.meta
            Posted by
            %a{:href => "#"} #{@post.author}
            on #{@post.created_date_readable}
= render 'layouts/flash'
%article
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        = markdown(@post.content)
        - if admin?
          = link_to 'Edit post', edit_post_path(@post)